*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}




/* CLASS UTILITY */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}




/* NAVBAR */
.container-navbar{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    line-height: 50px;
}

.navbar-fl{
    width: 50%;
}

.navbar-fr{
    width: 50%;
    text-align: right;
}

.logo{
    vertical-align: middle;
    margin-left: 25px;
}

.li-navbar{
    display: inline;
    margin-right: 20px;
}

.blue-botton1{
    color: white;
    background-color: blue;
    padding: 5px 25px;
    margin: 25px 20px 25px 0;
    text-align: center;
}




/* HEADER */
.bg-header{
    width: 100%;
    height: 650px;
    background-color: hsl(207deg 52% 81%);
}

.container-header{
    max-width: 1200px;
    height: 650px;
    margin: 0 auto;
}

.header-title{
    font-size: 30px;
    padding-top: 30px;
}

.jumbo{
    width: 900px;
}

.header-fl{
    width: 30%;
    padding-top: 50px;
}

.blue-botton2{
    color: white;
    background-color: blue;
    padding: 10px;
    margin: 25px 0;
    text-align: center;
    width: 100%;
}

.arrow-down{
    font-size: 50px;
    margin-top: 20px;
}

.header-fr{
    width: 67%;
    margin-top: 40px;
}




/* MAIN */
.container{
    max-width: 1200px;
    margin: 0 auto;
}




/* FIRST part */
.container-first-part{
    width: 100%;
    margin: 150px auto;
}

.header-first-part{
    margin-left: 15px;
}

.radio-first-part{
    margin-right: 50px;
}

li{
    list-style: none;
}

.float-first-part{
    width: calc((100% / 3) - 30px);
    border: 1px solid lightgrey;
    line-height: 25px;
    margin: 15px;
}

.title-float-fp{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0;
}

.float-first-part2{
    padding: 15px;
}

.transparent-text{
    color: rgba(0, 0, 0, .5);
}

.check-blue{
    color: blue;
}

.horizontal-float{
    width: calc(100% - 30px);
    border: 1px solid lightgrey;
    margin: 15px auto;
}

.hr-float-fl{
    width: 80%;
    padding: 20px;
    line-height: 35px;
}

.hr-float-fr{
    width: 20%;
}

.blue-botton3{
    color: white;
    background-color: blue;
    padding: 10px;
    text-align: center;
    margin: 20px;
}




/* SECOND PART */
.container-second-part{
    width: calc(100% - 30px);
    height: 500px;
    margin: 120px auto;
}

.partner-float-fl{
    width: 60%;
    height: 500px;
    background-image: url(../img/partner.png);
    background-size: cover;
}

.partner-float-fr{
    width: 40%;
    padding: 120px 65px;
}

.box-partner{
    width: 150px;
    padding: 10px;
    text-align: center;
}




/* THIRD PART */
.container-third-part{
    width: 100%;
    height: 1000px;
    margin: 0 auto;
}

.title-third-part{
    text-align: center;
}

.third-part-float{
    width: calc(100% / 3);
    height: 500px;
    padding: 15px;
}




/* IMG FLOAT */
.img1-third-part-float{
    width: 100%;
    height: 300px;
    background-image: url(../img/business-feature-switching-tools.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.img2-third-part-float{
    width: 100%;
    height: 300px;
    background-image: url(../img/business-feature-coordinate-it.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.img3-third-part-float{
    width: 100%;
    height: 300px;
    background-image: url(../img/business-feature-multi-device.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.img4-third-part-float{
    width: 100%;
    height: 300px;
    background-image: url(../img/business-feature-integrations-it.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.img5-third-part-float{
    width: 100%;
    height: 300px;
    background-image: url(../img/business-feature-send-files-it.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.img6-third-part-float{
    width: 100%;
    height: 300px;
    background-image: url(../img/business-feature-security.png);
    background-size: contain;
    background-repeat: no-repeat;
}




/* FOURTH PART */
.container-fourth-part{
    width: 40%;
    margin-top: 120px;
}




/* FIFTH PART */
.container-fifth-part{
    width: 100%;
    margin-top: 100px;
}

[class^="float-fifth-part"]{
    width: calc(100% / 3);
    height: 460px;
    position: relative;
}

[class^="underfloat-fifth-part"]{
    width: 50%;
    height: 230px;
}

.underfloat-fifth-part1{
    width: 50%;
    height: 230px;
    background-color: #a2d39b;
    background-image: url(../img/designit.svg);
    background-size: 150px;
    background-repeat: no-repeat;  
    background-position: center;  
}

.underfloat-fifth-part2{
    width: 50%;
    height: 230px;
    background-color: #61082b;
    background-image: url(../img/arizona_state_university.svg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;  
}

.underfloat-fifth-part3{
    width: 50%;
    height: 230px;
    background-color: #0093ce;
    background-image: url(../img/university_of_florida.svg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;  
}

.underfloat-fifth-part4{
    width: 50%;
    height: 230px;
    background-color: #ff1c1c;
    background-image: url(../img/topps.svg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;  
}

.float-fifth-part55{
    width: calc(100% / 3);
    height: 460px;
    background-color: #f5f5f5;
    background-image: url(../img/clear_channel.svg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 20px 20px;  
}

.text-part55{
    padding: 200px 25px;
}

.hr-part55{
    padding-top: 200px;
}


.underfloat-fifth-part5{
    width: 50%;
    height: 230px;
    background-color: #d5001f;
    background-image: url(../img/world_bicycle_relief.svg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;  
}

.underfloat-fifth-part6{
    width: 50%;
    height: 230px;
    background-color: #b4d0e7;
    background-image: url(../img/hearst_corp.svg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;  
}

.underfloat-fifth-part7{
    width: 50%;
    height: 230px;
    background-color: #0d2481;
    background-image: url(../img/lonely_planet.svg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;  
}

.underfloat-fifth-part8{
    width: 50%;
    height: 230px;
    background-color: #ffd830;
    background-image: url(../img/clear_channel.svg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;  
}

.box-underfloats{
    width: 100%;
    height: 230px;
    background-color: #b4d0e7;
}

.underbox-underfloats{
    width: 1200px;
    text-align: center;
    margin: auto;
}

.hr-float-fifth-part1{
    width: 80%;
    font-size: 45px;
    font-weight: bold;
    color: #61082b;
    padding: 80px;
}

.hr-float-fifth-part2{
    width: 20%;
    margin-top: 100px;
    padding: 10px;
    color: white;
    background-color: blue;
    background-size: contain;
}




/* SIXTH PART */
.container-sixth-part{
    width: 1200px;
    margin: 100px auto;
}

.float-sixth-part{
    padding: 20px;
}




/* FOOTER */
.container-footer{
    height: 600px;
    background-color: black;
}

.float-footer{
    max-width: 1200px;
    color: white;
    margin: 0 auto 50px auto;
    padding-bottom: 20px;
}

.footer-big-text{
    font-size: 30px;
    font-weight: bold;
    padding: 50px 0 10px 0;
}

li{
    list-style: none;
    padding: 8px 0;
}

.fl-footer{
    width: calc(100%/5);
}

.last-float-sixth-part{
    margin-bottom: 100px;
}

.footer-line{
    width: 150px;
}

.italiano{
    margin-top: 70px;
    color: white;
}

