*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CLASS UTILITY */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}



/* NAVBAR */
.container-navbar{
    width: 100%;
    text-align: center;
    /* line-height: ; */
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    line-height: 30px;
    /* border: 1px solid black; */
}

.navbar-fl{
    width: 50%;
}

.navbar-fr{
    width: 50%;
}

.logo{
    vertical-align: middle;
}

.li-navbar{
    display: inline;
    margin-right: 20px;
}

.blue-botton1{
    color: white;
    background-color: blue;
    padding: 10px;
    margin: 25px 0;
    text-align: center;
}



/* HEADER */
.bg-header{
    width: 100%;
    height: 500px;
    background-color: hsl(207deg 52% 81%);
    /* border: 1px solid black; */
}

.container-header{
    max-width: 1200px;
    height: 500px;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.header-title{
    /* text-align: center; */
    font-size: 30px;
}

.header-float{
    /* border: 1px solid black; */
}

.jumbo{
    width: 700px;
}

.header-fl{
    width: 30%;
    padding-top: 50px;
}

.blue-botton2{
    color: white;
    background-color: blue;
    padding: 10px;
    margin: 25px 0;
    text-align: center;
    width: 100%;
}

.arrow-down{
    font-size: 50px;
    margin-top: 20px;
}

.header-fr{
    margin-top: 40px;
    width: 60%;
}


/* MAIN */
.container{
    max-width: 1200px;
    margin: 0 auto;
}


/* FIRST part */
.container-first-part{
    width: 100%;
    margin: 120px auto;
    /* border: 1px solid black; */
}

.header-first-part{
    margin-left: 15px;
}

.radio-first-part{
    margin-right: 50px;
}

li{
    list-style: none;
}

.float-first-part{
    width: calc((100% / 3) - 30px);
    border: 1px solid lightgrey;
    line-height: 25px;
    margin: 15px;
}

.title-float-fp{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0;
}

.float-first-part2{
    padding: 15px;
}

.transparent-text{
    color: rgba(0, 0, 0, .5);
}

.check-blue{
    color: blue;
}

.horizontal-float{
    width: calc(100% - 30px);
    border: 1px solid lightgrey;
    margin: 15px auto;
    /* padding: 15px; */
}

.hr-float-fl{
    width: 80%;
    padding: 20px;
    line-height: 35px;
}

.hr-float-fr{
    width: 20%;
    /* padding: 10px; */
}

.blue-botton3{
    color: white;
    background-color: blue;
    padding: 10px;
    text-align: center;
    margin: 20px;
}



/* SECOND PART */
.container-second-part{
    width: calc(100% - 30px);
    height: 500px;
    margin: 120px auto;
    /* border: 1px solid black; */
}

.partner-float-fl{
    width: 60%;
    height: 500px;
    /* border: 1px solid black; */
    background-image: url(../img/partner.png);
    background-size: cover;
}

.partner-float-fr{
    width: 40%;
    padding: 120px 65px;
}

.box-partner{
    width: 150px;
    padding: 10px;
    text-align: center;
    /* border: 1px solid black; */
}




/* THIRD PART */
.container-third-part{
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.title-third-part{
    text-align: center;
}

.third-part-float{
    width: calc(100% / 3);
    height: 500px;
    padding: 15px;
    /* border: 1px solid black; */
}



/* IMG FLOAT */

.img1-third-part-float{
    width: 100%;
    height: 300px;
    background-image: url(../img/business-feature-switching-tools.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.img2-third-part-float{
    width: 100%;
    height: 300px;
    background-image: url(../img/business-feature-coordinate-it.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.img3-third-part-float{
    width: 100%;
    height: 300px;
    background-image: url(../img/business-feature-multi-device.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.img4-third-part-float{
    width: 100%;
    height: 300px;
    background-image: url(../img/business-feature-integrations-it.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.img5-third-part-float{
    width: 100%;
    height: 300px;
    background-image: url(../img/business-feature-send-files-it.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.img6-third-part-float{
    width: 100%;
    height: 300px;
    background-image: url(../img/business-feature-security.png);
    background-size: contain;
    background-repeat: no-repeat;
}




/* FOURTH PART */
.container-fourth-part{
    width: 40%;
    margin-top: 120px;
}



/* FIFTH PART */
.container-fifth-part{
    width: 100%;
    /* height: 600px; */
    border: 1px solid black;
}

.container-float-fifth-part{
    /* height: calc((100% / 3) * 2); */
    border: 1px solid black;
}

[class^="float-fifth-part"{
    width: calc(100% / 3);
    border: 1px solid black;
    background-color: red;
}