*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CLASS UTILITY */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}



/* NAVBAR */
.container-navbar{
    width: 100%;
    text-align: center;
    /* line-height: ; */
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    line-height: 30px;
    /* border: 1px solid black; */
}

.navbar-fl{
    width: 50%;
}

.navbar-fr{
    width: 50%;
}

.logo{
    vertical-align: middle;
}

.li-navbar{
    display: inline;
    margin-right: 20px;
}

.blue-botton1{
    color: white;
    background-color: blue;
    padding: 10px;
    margin: 25px 0;
    text-align: center;
}



/* HEADER */
.bg-header{
    width: 100%;
    height: 500px;
    background-color: hsl(207deg 52% 81%);
    /* border: 1px solid black; */
}

.container-header{
    max-width: 1200px;
    height: 500px;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.header-title{
    /* text-align: center; */
    font-size: 30px;
}

.header-float{
    /* border: 1px solid black; */
}

.jumbo{
    width: 700px;
}

.header-fl{
    width: 30%;
    padding-top: 50px;
}

.blue-botton2{
    color: white;
    background-color: blue;
    padding: 10px;
    margin: 25px 0;
    text-align: center;
    width: 100%;
}

.arrow-down{
    font-size: 50px;
    margin-top: 20px;
}

.header-fr{
    margin-top: 40px;
    width: 60%;
}



/* FIRST PAGE */
.container-first-page{
    width: 1200px;
    margin: 120px auto;
    /* border: 1px solid black; */
}

.checkbox-first-page{
    margin-right: 50px;
}

li{
    list-style: none;
}

.float-first-page{
    width: calc((100% / 3) - 30px);
    border: 1px solid lightgrey;
    line-height: 25px;
    margin: 15px;
}

.title-float-fp{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0;
}

.float-first-page2{
    padding: 15px;
}

.transparent-text{
    color: rgba(0, 0, 0, .5);
}

.check-blue{
    color: blue;
}